@inherits LayoutComponentBase

<div class="app-shell">
    <button class="sidebar-toggle" @onclick="ToggleSidebar">
        <span>☰</span>
    </button>

    <aside class="sidebar-shell @(_sidebarOpen ? "open" : "")">
        <NavMenu/>
    </aside>
    @if (_sidebarOpen)
    {
        <div class="sidebar-backdrop" @onclick="ToggleSidebar"></div>
    }
    <main class="main-shell">
        <article class="page-content">
            @Body
        </article>
    </main>
</div>

<PlayerBar/>


<style>


    .sidebar-backdrop {
        display: none;
    }

    @@media (max-width: 960px) {
    .sidebar-backdrop {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 40;
    }
    }
</style>

@code {
    private bool _sidebarOpen;

    private void ToggleSidebar()
    {
        _sidebarOpen = !_sidebarOpen;
    }

    protected override void OnInitialized()
    {
        // On desktop, sidebar should be open by default
        _sidebarOpen = true;
    }

}