@inherits LayoutComponentBase

<div class="app-shell">
    <aside class="sidebar-shell">
        <NavMenu />
    </aside>

    <main class="main-shell">
        <article class="page-content">
            @Body
        </article>
    </main>
</div>

<PlayerBar />
